body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.topSection {
    border: 1px solid black;
    height: 20vh;
    overflow: hidden;
    text-align: left;
    padding: 10px;
}
.logo {
    height: 100%;
    width: auto;
}
.contentNav {
    display: flex;
    border: 1px solid black;
    height: auto;
}
.navBar {
    border: 1px solid black;
    width: 200px;
    padding: 0;
    background-color: #f8f8f8;
    box-sizing: border-box;
}

.navBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.navBar li {
    margin: 0;
}

.navBar a {
    text-decoration: none;
    color: #333;
    display: block;
    width: calc(100% - 1px);
    padding: 10px;
    border: 0.5px solid black;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    border-width: 1px 0px 0px 0px;
}

.navBar a:hover {
    background-color: #ddd;
    color: #000;
    border: 0.5px solid black;
}
.content {
    border-radius: 5px;
    width: 80%;
    padding: 10px 20px 10px 20px;
}
.innerContent {
    background-color:#f2f2f2;
    border: 1px solid lightgrey;
    padding: 3%;
}