body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.topSection {
    border: 1px solid black;
    height: 20vh;
    overflow: hidden;
    text-align: left;
    padding: 20px;
}
.logo {
    height: 100%;
    width: auto;
}
.contentNav {
    display: flex;
    border: 1px solid black;
    height: auto;
}

/* Side Nav */
.vertical-menu {
    width: 20%;
    border-right: 1px solid black;
    padding: 0px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    
    border-style: solid;
    border-width: thin;
}

.show {
    background-color: white;
    color: black;
    display: block;
    text-decoration: none;

    border-style: solid;
    border-width: thin;
}

.show a {
    border-style: solid;
    border-width: thin;
    background-color: #fff;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #04AA6D;
    color: white;
}

#myButton1:hover , #myButton2:hover , #myButton3:hover {
    background-color: #ccc;
}

#myButton1.expanded , #myButton2.expanded , #myButton3.expanded {
    background-color: #bbb;
}

#linkContainer1 , #linkContainer2 , #linkContainer3 {
    display: none;
}

.content {
    border-radius: 5px;
    width: 80%;
    padding: 10px 20px 10px 20px;
}
.innerContent {
    background-color:#f2f2f2;
    border: 1px solid lightgrey;
    padding: 3%;
}