@import url('https://fonts.googleapis.com/css?family=Inter');

*{
    text-decoration: none;
    font-family: "Inter"
}

/* Navigation Bar */
.navbar{
    background:white;  
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo a{
    font-size: 35px; 
    font-weight: 600; 
    color: black;
}

#teamlogo{
    height: 20vh;
    width: auto;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: black; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}
.LoginBtn{
    background-color: orange; 
    margin-left: 10px; 
    padding: 10px; 
    width: 90px;
    border: none;
}

.LoginBtn:hover{
	background-color:darkorange;
}

button a{
    color: black; 
    font-weight: bold; 
    font-size: 15px;
}

/*Container for Advertising*/
#AdvertisingContainer1, #AdvertisingContainer2, #AdvertisingContainer3
{
    width:100%;
    background:lightgray;
	text-align:center;
}

#AdvertisingContainer4
{
	width:100%;
    background:lightgray;
	text-align: center;
}

h2
{
	font-size: 48px;
	padding-top: 20px;
}

h3
{
	font-size: 32px;
}

.EnterCredBtn
{
	width: 600px;
	height: 50px;
	background-color:orange;
	border:none;
}

.EnterCredBtn:hover
{
	background-color:darkorange;
}

/*ID's and classes specific to displaying the review form*/

.displayReview
{
	text-align:center;
	background: #99A3A4;
}

.rating
{
	font-size: 32px;
}
.rating .filled 
{
	color: #ffd700; /* Gold color */
}
.rating .unfilled 
{
	color: #d3d3d3; /* Light gray color */
}

