@import url('https://fonts.googleapis.com/css?family=Inter');

*{
    text-decoration: none;
    font-family: "Inter"
}

/* Navigation Bar */
.navbar{
    background:white;  
    padding-right: 15px;
    padding-left: 15px;
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo a{
    font-size: 35px; 
    font-weight: 600; 
    color: black;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: black; 
    font-size: 18px; 
    font-weight: bold; 
    margin-right: 25px;
}
.LoginBtn{
    background-color: orange; 
    margin-left: 10px; 
    padding: 10px; 
    width: 90px;
    border: none;
}

.LoginBtn:hover{
	background-color:darkorange;
}

button a{
    color: black; 
    font-weight: bold; 
    font-size: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color:lightgray;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#RegisterForm
{
    padding-top: 8%;
    padding-left: 5%
}

#firstname, #lastname,#email,#password, #companyname, #planschoice
{
    width: 80%;
    height: 30px;
    margin-top: 20px;
    text-align: center
}
#submitBtn{
    width: 80%;
    height: 30px;
    background: orange;
    font-weight: bold;
    margin-top: 20px;
    border: 0; /*Remove the border*/
}

#submitBtn:hover
{
	background-color:darkorange;
}
#teamlogo{
    height: 20vh;
    width: auto;
}

